<!DOCTYPE html>
<html lang="en" ng-app="BookKeeper">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
  -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="../static/js/ng-controller.js"></script>-
    <script src="js/ng-controller.js"></script>


    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
    <!--<style>-->
    <!--body {-->
        <!--padding-top: 70px;-->
        <!--/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */-->
    <!--}-->
    <!--</style>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="BookKeeperController">
<!-- Navigation -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">Start Bootstrap</a>-->
        <!--</div>-->
        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li>-->
                    <!--<a href="#">About</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Services</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Contact</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</nav>-->
<!-- Page Content -->
<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <%^user%>
            <form action="/login" method="post">
                <input type="text" placeholder="User Name" name="userName" ng-model="userName">
                <input type="password" placeholder="Password" name="password" ng-model="password">
                <button type="submit" ng-click="login">Login</button>
            </form>
            <form action="/register" method="post">
                <input type="text"  placeholder="First Name" name="firstName" ng-model="firstName">
                <input type="text" placeholder="Last Name" name="lastName" ng-model="lastName">
                <input type="text" placeholder="UserName" name="userName" required ng-model="userName">
                <input type="password" placeholder="Password" name="password" required ng-model="password">
                <button type="submit"  ng-click="register">Register</button>
            </form>
            <%/user%>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <%#user%>
           <h1>Welcome, <%firstName%>!
           </h1>
            <input type="button" ng-click="getAllBooks()" value="Hit Me!">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
            <%/user%>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<div>
    <h3>Book List</h3>
    <ul>
        <li ng-repeat="book in books">
            {{book.title}} {{book.author}}
        </li>
    </ul>
</div>
<!-- jQuery Version 1.11.1 -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
